<section class="footer-section">
	<div class="container">
		<div class="footer-logo text-center">
			<a href="/"><img src="/lockley/img/logo_2_bg.png" alt="Lockley Logo"></a>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget about-widget">
					<h2>About</h2>
					<p>Lockley is the premier destination for those interested in products related to superheroes.</p>
					<img src="/lockley/img/cards.png" alt="Payment Methods">
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget about-widget">
					<h2>FAQ</h2>
					<ul>
						<li><a>About Us</a></li>
						<li><a>Track Orders</a></li>
						<li><a>Returns</a></li>
						<li><a>Jobs</a></li>
						<li><a>Shipping</a></li>
					</ul>
					<ul>
						<li><a>Partners</a></li>
						<li><a>Bloggers</a></li>
						<li><a>Support</a></li>
						<li><a>Terms of Use</a></li>
						<li><a>Press</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="footer-widget contact-widget">
					<h2>Contact Informations</h2>
					<div class="con-info">
						<span><i class="fa-solid fa-building"></i></span>
						<p>Lockley Ltd.</p>
					</div>
					<div class="con-info">
						<span><i class="fa-solid fa-location-dot"></i></span>
						<p>Somewhere in the world</p>
					</div>
					<div class="con-info">
						<span><i class="fa-solid fa-phone"></i></span>
						<p>+90 (123) 123 12 12</p>
					</div>
					<div class="con-info">
						<span><i class="fa-regular fa-envelope"></i></span>
						<p>topraklockley@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="social-links-warp">
		<div class="container">
			<div class="social-links" style="text-align: center">
				<a class="instagram"><i class="fa-brands fa-instagram"></i><span>instagram</span></a>
				<a class="twitter"><i class="fa-brands fa-x-twitter"></i><span>twitter</span></a>
				<a class="youtube"><i class="fa-brands fa-youtube"></i><span>youtube</span></a>
				<a class="facebook"><i class="fa-brands fa-facebook"></i><span>facebook</span></a>
				<a class="pinterest"><i class="fa-brands fa-pinterest"></i><span>pinterest</span></a>
			</div>

			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</div>
	</div>
</section>